{% extends "base.html" %}

{% block content %}

<p class="title is-3">Welcome, {{ name }}!</p>
<p class="subtitle is-4" for="content">Make a Todo!</p>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <div class="notification is-danger">
    {{ messages[0] }}
  </div>
{% endif %}
{% endwith %}
<form method="POST" action="/profile">
  <div>
    <div class="container">
      <div class="columns">
        <div class="column is-3"></div>
        <div class="column is-6">
          <input class="input is-rounded" type="text" name="content" placeholder="Enter Task...">
        </div>
        <div class="column is-3"></div>
      </div>
    </div>
    <button class="add button is-primary is-warning " type="submit"><a>Create</a></button>
  </div>
  <br>
</form>

  <!-- display of tasks: -->
{% for todo in todos %}
<form method="POST" action="/profile/update/{{ todo.id }}">

  {% if todo.is_done == False %}
  <button class="button is-primary is-inverted" type="submit"><a class="content">{{ todo.content }};</a></button>

  {% else %}
  <button class="button is-primary " type="submit"><a class="content">{{ todo.content }}; (Done)</a></button>
  <span class="no"><a class="delete is-medium" href="/profile/delete/{{ todo.id }}"></a></span>
    
  {% endif %}
</form>

<style>
  button {
    margin-top: 2px;
  }

  button.add {
    font-size: 16px;
    margin-top: 5px;
  }
  
  a.content {
    font-size: 17px;
  }

  a.delete {
    margin-top: 9px;
  }
  </style>

{% endfor %}
{% endblock %}
