{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>

<form method="POST" action="/profile">
  <div>
    <label for="content">Make a Task!</label>
    <br>
    <input type="text" name="content" placeholder="Enter Todo...">
    <br>
    <button class="add" type="submit"><a>Add</a></button>
  </div>
  <br>
</form>

  <!-- here is your tasks: -->
  {% for todo in todos %}
  <form method="POST" action="/profile/{{ todo.id }}">
    <button type="submit"><a class="content">{{ todo.content }} - </a></button>
    {% if todo.is_done == False %}
      <span class="no">To do!&#10060</span>
    {% else %}
      <span class="yes">Done!&#9989</span>
    {% endif %}
  </form>

  <style>
    button {
      border: none;
      color:white;
      background-color: #00d1b2;
    }

    button:hover {
      color:white;
    }

    label {
      font-size: 18px; 
    }

    button.add {
      font-size: 16px;
    }
    span.no {
      border-radius: 90%;
      border: none;
      color:white;
      /* background-color: red; */

    }
    span.yes {
      border-radius: 90%;
      border: none;
      color: white;
      /* background-color: gold; */
      
    }
    a.content {
      font-size: 16px;
    }
  </style>
  <!-- <a href="/profile/{{ todo.id }}"><p> {{ todo.content }} </p></a> -->
    <!-- <a href="/profile/{{ todo.id }}"><button>Update</button></a> -->
    <!-- <a href="/profile"><button>Delete</button></a> -->
    <!-- <p> {{ todo.id }} | {{ todo.content }} </p> -->

  {% endfor %}
{% endblock %}